function goto(){
  if [ "$1" == "make" ]
  then
    if [ -z $2 ]
    then
      echo "No source specified!"
      return
    fi

    if [ -z $3 ]
    then
      target=`basename $2`
    else
      target=$3
    fi

    ln -s ${2%/} ~/.goto/$target 
  elif [ "$1" == "remove" ]
  then
    if [ -z $2 ]
    then
      echo "No target specified!"
      return
    fi
    rm ~/.goto/$2
  else
    cd ~/.goto/$1
  fi
}

function drlogin(){
    if [ "$1" = "ec2" ]
    then
      ssh -i ~/Downloads/webserver_key.pem ubuntu@ec2-54-226-214-59.compute-1.amazonaws.com
    elif [ "$1" = "ece" ]
    then
      ssh drajkuma@ecelinux3.uwaterloo.ca
    fi
}

function mkd() {
  mkdir -p "$@" && cd "$@"
}

function parse_git_branch {
  git branch &>/dev/null
  if [ $? == '0' ]
  then 
    branch=$(git branch --no-color 2> /dev/null | sed -e '/^[^*]/d' -e 's/* \(.*\)/(\1)/')
    echo "$branch "
  fi
}
