[user]
	name = Divij Rajkumar
	email = drajkuma1@gmail.com

[credential]
  helper = osxkeychain

[alias]
    st = status
    ci = commit
    br = branch
    co = checkout
    df = diff
    dc = diff --cached
    lg = log -p
    l = log --graph --decorate --pretty=oneline --abbrev-commit
    ll = log --pretty=format:'%h : %s' --graph --decorate
    lol = log --pretty=oneline --graph --decorate --abbrev-commit
    la = log --graph --decorate --pretty=oneline --abbrev-commit --all
    ls = ls-files
    rb = rebase
    com = checkout master
    rem = rebase master
    now = diff HEAD
    stache = stash
    ss = stash
[color]
    ui = true
[color "branch"]
    current = magenta
    remote = green
[color "diff"]
    meta = yellow bold
    frag = magenta bold
    old = red bold
    new = green bold
[color "status"]
    added = green
    changed = yellow
    untracked = red
[apply]
  ignorewhitespace = change
	whitespace = nowarn
[core]
	ignorecase = false
	filemode = false
	editor = /usr/bin/vim

