[user]
    name = Divij Rajkumar
    email = drajkuma1@gmail.com

[credential]
    helper = osxkeychain

[alias]
    deleted = log --diff-filter=D --summary
    hist = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative --all --since='90 days ago'
    ll = log --pretty=format:'%h : %s' --graph --decorate
    lol = log --pretty=oneline --graph --decorate --abbrev-commit
    la = log --graph --decorate --pretty=oneline --abbrev-commit --all
    ls = ls-files
    sl = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset%n' --abbrev-commit --date=relative --branches
[color]
    ui = true
[color "branch"]
    current = magenta
    remote = green
[color "diff"]
    meta = yellow bold
    frag = magenta bold
    old = red bold
    new = green bold
[color "status"]
    added = green
    changed = yellow
    untracked = red
[apply]
    ignorewhitespace = change
    whitespace = nowarn
[core]
    ignorecase = false
    filemode = false
    editor = /usr/bin/vim

